{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google registration</title>
</head>
<body>
    <form action="index_google" method="post">
    {% csrf_token %}
        {% if user.is_authenticated %}
				<li > <small> Hello {{user.first_name}}</small></li>
				  <li><a href="logout">Logout</a></li><br>
				  {% else %}
                <li><a href =" {% provider_login_url "google"  %}" >Google connect</a>
        </li><br>
                {% endif %}




</body>
</html>
